php_flag session.cookie_httponly On
AddDefaultCharset UTF-8
Options -Indexes +FollowSymLinks

<FilesMatch "composer\..*$">
    Deny from all
</FilesMatch>

RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php